name: library_kursach
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  go_router: ^14.2.0
  flutter_bloc: ^9.1.0
  hydrated_bloc: ^10.1.1
  dio: ^4.0.0
  dio_logger: ^4.0.8+8
  flutter_dotenv: ^6.0.0
  get_it: ^9.1.0
  flutter_form_builder: ^10.0.1
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
